.container {
    position: relative; 
}

.container img{
    position: absolute; /* Establece la posición absoluta para que la imagen flote sobre el input */
  top: -45px; /* Ajusta la posición vertical de la imagen */
  left: 20px; /* Ajusta la posición horizontal de la imagen */
  pointer-events: none; /* Hace que la imagen no sea clickeable para que el input reciba los clics en su lugar */
  opacity: 70%;
}


.input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 80%;
    color: black;
    padding-right: 0px;
    margin-left: 40px;
}

.input:focus{
    outline: none;
}

.input::-webkit-search-cancel-button {
    display: none;
  }
